In [27]:
import numpy as np
import pandas as pd

In [28]:
data=pd.read_csv('IRIS.csv')

In [29]:
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [30]:
data['species']=data['species'].replace(['Iris-virginica','Iris-versicolor'],'Iris-nonsetosa')

In [31]:
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-nonsetosa
146           6.3          2.5           5.0          1.9  Iris-nonsetosa
147           6.5          3.0           5.2          2.0  Iris-nonsetosa
148           6.2          3.4           5.4          2.3  Iris-nonsetosa
149           5.9          3.0           5.1          1.8  Iris-nonsetosa

[150 rows x 5 columns]

In [33]:
x1=data[['sepal_length','sepal_width']]
y1=data['species']

In [34]:
x1

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [35]:
y1

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-nonsetosa
146    Iris-nonsetosa
147    Iris-nonsetosa
148    Iris-nonsetosa
149    Iris-nonsetosa
Name: species, Length: 150, dtype: object

In [36]:
from sklearn.svm import SVC

In [38]:
sv1=SVC(kernel='linear')

In [39]:
sv1.fit(x1,y1)

SVC(kernel='linear')

In [40]:
y_predict=sv1.predict(x1)

In [41]:
y_predict

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-nonsetosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa', 'Iris-nonsetosa',
       'Iris-nonsetosa', 'Iris-nonsetosa'], dtype=object)

In [42]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [43]:
cm=confusion_matrix(y1,y_predict)

In [44]:
cm

array([[100,   0],
       [  1,  49]], dtype=int64)

In [46]:
accuracy_score(y1,y_predict)

0.9933333333333333